<h1>Bienvenido al chat comunitario</h1>
<h2>¡Hola, <span id="username"></span>!</h2>

<div>
    <input id="chatbox">
</div>

<div>
    <p id="messageLogs"></p>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>